.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
  }
  
  .color1 {
    flex: 1;
    background-color: salmon;
  }
  
  .color2 {
    flex: 1;
    background-color: lightblue;
  }
  